.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
  font-family: Times-New-Roman, Times, serif;
}

.reveal {
	font-family: Times-New-Roman, Times, serif;
	font-size: $mainFontSize;
	font-weight: normal;
	color: $mainColor;
}